{% extends 'core/base.html'%}
{% block content %}
<div>
    <h1 class="text-warning mb-5 border-bottom mt-5">Teamproject</h1>
    <p>
        <p class="text-white" style="text-indent:100px;">
            <b class="text-warning">1. </b>      Make an application who <b class="text-warning"> detect the object </b> in front of camera with the help of GitHub. 
       </p>
       <p class="text-white" style="text-indent:100px;">
            <b class="text-warning">2. </b>       Make a <b class="text-warning"> smart wheelchair </b> for physically paralyzed person with the help of eyeball sensor & joystick.
       </p>
       <p class="text-white" style="text-indent:100px;"> 
            <b class="text-warning">3. </b>      Also make a small robot for Robo Race event in GTU Techfest.
       </p>
        
    </p>
</div>

<div>
    <h1 class="text-warning mb-5 border-bottom mt-5">Cirtificates</h1>
    <p>
        <p class="text-white" style="text-indent:100px;">
            <b class="text-warning ">1. </b>     <b class="text-warning"> GTU zonal level runnesup </b> in RoboRace event.
        </p>
        
        <p class="text-white" style="text-indent:100px;">
            <b class="text-warning">2. </b>      <b class="text-warning"> Main coordinator </b> in GTU technical festival for RoboRace event.
        </p>
        
        <p class="text-white text-justify" style="text-indent: 100px;">
            <b class="text-warning">3. </b>      I had successfully complete 10 months course of <b class="text-warning"> C,C++ and 
            python </b> programing from indian institute of hardware technology limited ( <b class="text-warning"> IIHT </b>).
        </p>
        <p class="text-white" style="text-indent: 100px;">
            <b class="text-warning">4. </b>      Currently i am working at Palsana enviro protection Ltd. 
            as Instrument executive engineer.

        </p>


    </p>



</div>


{% endblock content %}