/* font */
.st-font{font-family: 'Playfair Display', serif;}

html,
body {

    height: 100%;

}

.container-fluid {
    min-height: 100%;
}

/* service i color */
.i-color{
    color: darkred;
}



a.nav-link{
    color: floralwhite;
}

a.nav-link:hover{
    color: black;
    background-color: #e9cd79;
}

a.nav-link.active{
    color: black;
    background-color: #ffc107;
    font-weight: bold;
}